* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.5s ease-out 0.5s;
    -moz-transition: background-color 0.5s ease-out 0.5s;
    -webkit-transition: all 0.5s ease-out 0.5s;
    -moz-transition: all 0.5s ease-out 0.5s;
}

body {
    background: #ebebeb;
    font-family: "Arial MT";
    min-height: 1800px;
}

.wrapper {
    max-width: 930px;
    width: 100%;
    padding: 0px 40px;
    margin: 0 auto;
}
/*HEADER*/
header {
	width: 100%;
	height:132px;
    background: #373737;     
}
.header_logo-img, 
.header_logo-text {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
}
.header_logo-text {
    margin-left: 5px;
	color: #fff;
}
.header_nav {
	width:100%;
	height: 66px;
    background: #474747;
  
}
.header_nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user_name{  
    width: 50%;
    color:#fff;
    margin-right:30px;
    text-align: right;
}
.nav {
    list-style-type: none;
	margin: 0;
    padding: 0;
    width: 50%;
}
.nav_wrap {
	display: block;
	line-height: 11px;
	height: 11px;
	padding: 0 25px;
	border-right: 1px solid #767676;
}
.nav_list {
    display: inline-block;
    padding:25px 0;
}
.nav_link {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	position: relative;
}
.nav_link>.active:after,
.nav_link:hover:after {
	content: '';
	position: absolute;
	display: block;
    height: 4px;
	background: #f26c4f;
	left: 0;
	right: 0;
	bottom: -27px;
}
.content{
    padding:20px 0;  
}
/* form */
.form{
    color: #707070;
    
}
#errors{
    height: 20px;
    margin-bottom:10px;
}
.registration {
    margin-bottom:10px;
    
}

fieldset>input {
        border:1px solid  #686161;
        border-radius: 3px;
        background:  #ccc7c7;
        box-shadow:  1px 2px 5px 3px rgba(192, 180, 180, 0.7);
        margin:10px;
        color:#707070;
       
    }
fieldset>input:hover, fieldset>button:hover {
    border:1px solid #f26c4f;  
    }
fieldset>button {
     width: 90px;
    height: 20px;
    box-shadow: inset -1px -2px 5px 3px rgba(136, 115, 115, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color:rgb(56, 52, 52);    
} 

/*block1*/
.content_info {
    display: flex;
    position:relative;
    justify-content: flex-end;
    margin-bottom:35px;   
}
.content_info_list {
    width:100%;   
    background-color: #ffffff;

   
}
.content_info_list img {
    width: 100%;
}
.content_info_list h2 {
    color: #707070;
    font-family: "Arial - Bold MT";
    font-size: 35px;
    line-height: 35px; 
    margin:25px; 
}
.content_info_list p {
    color: #949494;
    font-family: "Arial MT";
    font-size: 16px;
    line-height: 22px;
    margin:25px; 
}

/*burger-menu*/
button#burger  {
    width:60px;
    height: 36px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
    padding: 0;
    border:none;
    position: relative;
    cursor: pointer; 
    display: none; 
}
span.burger-menu  {
    background-color: black;
    width: 50px;
    height: 10px;
    position: relative;
    display: block;

  
}
span.burger-menu::before {
    content: "";
    background-color: black;
    width: 50px;
    height: 10px;
    position: absolute;
    display: block;
    top:-13px;
    left:0px;
}
span.burger-menu::after {
    content: "";
    background-color: black;
    width: 50px;
    height: 10px;
    position: absolute;
    bottom:-13px;
    right: 0px;
    display: block;

}

/*sidebar*/

.content_info_sidebar {
    width: 0%;
    display: flex; 
    overflow: hidden;
    height: 0;
    transition:height 1s 0 linear;
}
#sidebar.active_button {  
    height: 600px;
}
.sidebar_list  {
    list-style: none; 
    margin: 0px;   
}
.sidebar {
    width: 90%;
}
.sidebar_list {
    background: #fff;
	margin-bottom: 7px;
	padding: 13px 22px;
	border-left: 3px solid #cacaca; 	
    box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.15); 
    color: #756d6d;
    line-height: 24px;

}
.sidebar_list label {
    font-size: 12px;
    font-weight: bold;
    padding-left: 7px;
    color: #646464; 
    }
.sidebar_list ul {
    margin: 10px auto;
}
.sidebar_list  li {
    list-style: none; 
    padding: 5px;
}
.sidebar_list button {
    width: 80%;
    height: 30px;

}
.sidebar_list button span {
    color: #756d6d;
}
/* block2*/

.content_text {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 30px; 
}
.content_img {  
    position: relative;
    width: 60%;
   
}
.content_img img {
    vertical-align: top;
}
.content_img-text {
	position: absolute;
	display: inline-block;
	padding: 20px 30px;
	color: white;
	font-size: 16px;
	font-weight: 300;
	background: rgba(0, 0, 0, .5);
	bottom: 0px;
	right: 0px;
}
.content_about {   
    width: 40%; 
    background: #373737;
    border-left: 13px solid #f26c4f;  
    padding: 30px;
}
.content_about h2 {
    color: #ffffff;
    font-family: "Arial - Bold MT";
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
}
.content_about-text,
.content_about-date {
    color: #a7a7a7;
    font-family: "Arial MT";
    font-size: 12px;
    line-height: 23px;
  
}
.content_about-date {
    text-align: right;
}

/*block3*/

.content_articles {
    display: flex;
    margin-bottom:20px;
}
.article_1, .article_2 {
    width: 33%;
    margin-right: 20px;
    background: #ffffff;
}
.article_3 {
    width: 33%;
    margin-left: 0px;
    background: #ffffff;
}
.article_link  h2 {
    color: #4f4f4f;
    font-family: "Arial - Bold MT";
    font-size: 25px;
    padding:20px 35px;
}
.article_link p {
    color: #646464;
    font-family: "Arial MT";
    font-size: 12px;
    line-height: 24px;
    padding:0px 35px 20px 35px;
}
.article_img {
    width: 100%;
}

/*footer*/


footer {
    position: fixed;
    bottom: 0;  
    left:0;
    background: #373737;
    width: 100%;
}
.footer_content {
	padding: 25px 0 20px 0px;;
	font-family: Arial;
}
.footer_content_nav {
    margin-bottom: 15px;
    margin-left: 40px;
}
.footer__link {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	padding-right: 15px;
}
.footer_content_text {
    color: #7e7e7e;
    font-family: "Arial MT";
    font-size: 11px;
    line-height: 21px;
    margin-left: 40px;
}


@media (max-width: 992px) {
.wrapper {
    padding: 0;
}
header {
    width: 100%;
    height:100px;    
}
.header_logo {
    line-height: 46px; 
}
.header_logo-img {
    width:50px;
    height: 50px;
    vertical-align: top;
}
.header_nav-content {
    width: 100%;
    }
.header_nav {
    height: 45px;
    }
.nav_wrap {
    display: block;
    line-height: 11px;
    height: 11px;
    padding: 0 15px;
    }
.nav_list {
    display: inline-block;
    padding:15px 0;
}
.nav_link {
    font-size: 12px;
    text-decoration: none;
    position: relative;
}
.nav_link>.active:after,
.nav_link:hover:after {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    left: 0;
    right: 0;
    bottom: -15px;
}  
.form_login
    {
    width: 90px;
    margin: 10px 5px 0 70px;
}
.form_password {
    width: 90px;
    margin: 10px 5px 0 5px;  
}
.form_rg {
    width: 80px;
    margin: 10px 20px 0 5px;   
}
.content_about {
    padding: 10px 10px 0 10px;
}
.block1_img {
    width: 100%;
    height: 100%;
}
.content_info_sidebar { 
    z-index: 1;
}
.footer_content {
	padding: 10px 0 10px;
	font-family: Arial;
}
.footer_content_nav {
    margin-bottom: 15px;   
    padding-left: 10px;
}
.footer__link {
	color: #fff;
	text-decoration: none;
    font-size: 10px;	
}
.footer__link:first-child {
    padding-left:0;
}
.footer_content_text {
    color: #7e7e7e;
    font-family: "Arial MT";
    font-size: 9px;
    line-height: 11px;
    padding: 0 10px 10px 10px;  
}
}
@media (max-width: 767px) {
body {
    min-height: 1550px;
}
.nav_list {
    padding: 0;
}
.nav_link>.active:after,
.nav_link:hover:after {
    bottom: -2px;
}
.form_login{
    width: 70px;
    margin: 10px 0px 0px 0px;
}
.form_password {
    width: 70px;
    margin: 10px 0px 0px 0px;  
}
.form_rg {
    width: 80px;
    margin: 10px 0px 0px 0px;   
}
.content_about h2 {
    font-size: 14px;
}
.content_about p {
    font-size: 10px;
    margin-top:2px;
}
.article_link h2 {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 0;
}
.article_link p {
    padding: 10px;
    margin: 0;
}
.content_info_list-text h2 {
    font-size: 25px;
}
.content_info_list-text p {
    font-size: 12px;
} 
.sidebar_list a {
    font-size: 12px;
}
.sidebar_list a span {
    font-size: 8px;
}
.footer_content_nav {
    margin-bottom: 2px;
}
.footer_content_nav a {
    padding: 5px;
}
.footer_content_text {
    line-height: 15px;
}

}

